In [2]:
require 'dbi'
require 'daru'
require 'nyaplot'

false

In [33]:
db = DBI.connect("dbi:SQLite3:../aact.db")

terminal_statuses = ['Completed','No longer available','Suspended','Terminated','Withdrawn','Withheld']

["Completed", "No longer available", "Suspended", "Terminated", "Withdrawn", "Withheld"]

In [34]:
studies = Daru::DataFrame.from_sql(
  db, 
  <<-SQL
    select 
      nct_id, 
      overall_status, 
      start_date, 
      completion_date, 
      completion_date_type  
    from clinical_study 
    where 
      overall_status in ('#{terminal_statuses.join("','")}')
and start_date is not null
  SQL
)

#<Daru::DataFrame:179580780 @name = 5ef7fd5d-8a98-45d0-857f-99d6023c809d @size = 127312>
           completion completion     nct_id overall_st start_date
         0 March 2012     Actual NCT0000010 Terminated  July 2002
         1                       NCT0000010  Completed
         2                       NCT0000010  Completed
         3                       NCT0000010  Completed
         4                       NCT0000010  Completed
         5 December 1     Actual NCT0000011  Completed August 199
         6 December 1     Actual NCT0000011  Completed October 19
         7                       NCT0000012  Completed January 19
         8 August 200     Actual NCT0000013  Completed January 19
         9  June 1994     Actual NCT0000011  Completed December 1
        10                       NCT0000011  Completed
        11 September      Actual NCT0000011  Completed September
        12  June 1987     Actual NCT0000011  Completed   May 1984
        13 September             NCT0000011  Completed   May 1996
        14 January 19     Actual NCT0000013  Completed February 1
       ...        ...        ...        ...        ...        ...

In [32]:
# set blank start dates to nil
studies[:start_date] = studies[:start_date].map { |d| d == '' ? nil : d }

# convert non-nil start dates to Date
studies[:start_date] = studies[:start_date].map { |d| Date.strptime(d, '%b %Y') if !d.nil? }; nil

studies[:completion_date] = studies[:completion_date].map { |d| d == '' ? nil : d }
studies[:completion_date] = studies[:completion_date].map { |d| Date.strptime(d, '%b %Y') if !d.nil? }; nil